.addButton {
  display: flex;
  padding-left: 0;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--buton-color);
  color: white;
  border-width: 0;
  font-family: Inter;
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.78;
}
