.taskContainer {
  margin-bottom: 16px;
  margin-top: 16px;
}

/* .taskContainer:first-child {
  margin-top: -16px;
} */

.cardRow {
  display: flex;
  width: 50rem;
  align-items: center;
}

.checkboxCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskDetails {
  display: flex;
  flex-direction: column;
}

.taskName {
  font-size: 16px;
}

.taskMeta {
  display: flex;
  gap: 20px;
  width: 100%;
}

.taskDate {
  font-size: 14px;
  color: #888;
}

.taskPriority {
  font-size: 14px;
  color: #888;
}

.taskActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.editIcon, .deleteIcon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.checkbox {
  appearance: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.checkbox.checked {
  background-image: url('../../assets/images/circle-checked.svg');
}

.checkbox.unchecked {
  background-image: url('../../assets/images/circle.svg');
}
