.taskListContainer {
  margin-bottom: 16px;
}

.cardContainer {
  border-radius: 8px;
}

.cardHeader {
  display: flex;
  align-items: center;
}

.cardTitle {
  margin-top: 0;
}

.cardText {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cardDescription {
  font-size: 14px;
  color: #888;
}

.cardActions {
  display: flex;
  gap: 8px;
}

.editIcon, .deleteIcon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.addTaskButton {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}